[access]
	inheritFrom = All-Projects
[project]
	description = Ansible role for sending XUnit test results to ReportPortal
[access "refs/*"]
	owner = group user/Avishay Mahluf (avishaymahluf)
[access "refs/for/refs/*"]
	read = group user/Avishay Mahluf (avishaymahluf)
	push = group user/Avishay Mahluf (avishaymahluf)
	label-Code-Review = -2..+2 group user/Avishay Mahluf (avishaymahluf)
	label-Verified = -1..+1 group user/Avishay Mahluf (avishaymahluf)
	rebase = group user/Avishay Mahluf (avishaymahluf)
	removeReviewer = group user/Avishay Mahluf (avishaymahluf)
	submit = group user/Avishay Mahluf (avishaymahluf)
[access "refs/heads/*"]
	read = group user/Avishay Mahluf (avishaymahluf)
	create = group user/Avishay Mahluf (avishaymahluf)
	push = +force group user/Avishay Mahluf (avishaymahluf)
	pushMerge = group user/Avishay Mahluf (avishaymahluf)
[access "refs/tags/*"]
	push = group user/Avishay Mahluf (avishaymahluf)
	push = +force group user/Avishay Mahluf (avishaymahluf)
