[access]
	inheritFrom = All-Projects
[project]
	description = Ansible role for sending XUnit test results to ReportPortal
[access "refs/*"]
	owner = group rhosqeauto-contrib
	owner = group user/Avishay Mahluf (avishaymahluf)
	read = group Anonymous Users
	read = group rhosqeauto-contrib
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/for/refs/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Avishay Mahluf (avishaymahluf)
	push = group github/rhos-infra/Everyone
	push = group user/Avishay Mahluf (avishaymahluf)
	label-Code-Review = -2..+2 group github/rhos-infra/Everyone
	label-Code-Review = -2..+2 group user/Avishay Mahluf (avishaymahluf)
	label-Verified = -1..+1 group github/rhos-infra/Everyone
	label-Verified = -1..+1 group user/Avishay Mahluf (avishaymahluf)
	rebase = group github/rhos-infra/Everyone
	rebase = group user/Avishay Mahluf (avishaymahluf)
	removeReviewer = group github/rhos-infra/Everyone
	removeReviewer = group user/Avishay Mahluf (avishaymahluf)
	submit = group github/rhos-infra/Everyone
	submit = group user/Avishay Mahluf (avishaymahluf)
[access "refs/heads/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Avishay Mahluf (avishaymahluf)
	create = group github/rhos-infra/Everyone
	create = group user/Avishay Mahluf (avishaymahluf)
	push = +force group github/rhos-infra/Everyone
	push = +force group user/Avishay Mahluf (avishaymahluf)
	pushMerge = group github/rhos-infra/Everyone
	pushMerge = group user/Avishay Mahluf (avishaymahluf)
[access "refs/tags/*"]
	push = +force group github/rhos-infra/Everyone
	push = group user/Avishay Mahluf (avishaymahluf)
	push = +force group user/Avishay Mahluf (avishaymahluf)
