---
# tasks file for reportportal

- name: Perform validations
  include: validate/main.yml
  when: not dashboard2email and not reportportal5

- name: Import results to ReportPortal
  include: import/main.yml
  when: import_launch

- name: Import results to ReportPortal using archive
  include: import/api_import.yml
  when: api_import_launch
